@font-face {
  font-family: hussar;
  src: url(fonts/HussarBoldWeb-ee8d.svg);
  src: url(fonts/HussarBoldWeb-bf92.woff);
}


html{
  height: 100%;
}
body
{
  --thumbnails-image-width: 25vw;
  --thumbnails-image-height: 15vw;
  --thumbnails-title-height: calc(var(--thumbnails-image-height)*0.33);
  --details-image-width: 70vw;
  --details-image-height: 55vw;
}
body{
  height: 100%;
  background: url(../images/cars/wallpaper.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  margin: 0;
 
}
.logo{
  display: block;
  text-align: center;
  background: none;
  font-size: 1.5em;
  text-transform: uppercase;
  font-family: hussar;
}
h2{
  margin-top: 25px;
  margin-bottom: 40px;
}
.main-class{
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
}
.main-class.hidden
{

  justify-content: space-around;
  
}
.details-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 25px;
}
.hidden .details-container
{
  display: none;
}
.details-frame{
  position: relative;
}
.details-image{
 width: var(--details-image-width);
 height: var(--details-image-height);
}
.details-title{
  display: block;
  background: none;
  font-family: hussar;
  position: absolute;
  bottom: 2vh;
  left: 5%;
  
}
#hide-button{
  position: absolute;
  right: 1vw;
  top: 1vh;
  background: none;
  border: solid 2px white;
  color: white
  
}
.thumbnails-list{
  display: flex;
  flex-wrap: wrap;
  max-height: 26vh;                          
  overflow-y: scroll;
  list-style: none;
  justify-content: space-around;
  padding-left: 0;
  margin-top: 25px;
  padding-right: 7px;
  margin-right: 10px;
}
.hidden .thumbnails-list
{
  max-height: 62vh;
}
.thumbnails-item{
  border: solid 2px white;
  margin-top: 2vh;
  border-radius: 25%;
  overflow: hidden;
  min-height: calc(var(--thumbnails-image-height) + var(--thumbnails-title-height));
  max-height: calc(var(--thumbnails-image-height) + var(--thumbnails-title-height));
  min-width: var(--thumbnails-image-width);
  max-width: var(--thumbnails-image-width);
  margin-left: 20px;
}
.thumbnails-item:hover{
  transform: scale(1.1);
}
.thumbnails-anchor{
  text-decoration: none;
  color: white;
}
.thumbnails-image{
  display: block;
  width: var(--thumbnails-image-width);
  height: var(--thumbnails-image-height);

}
.thumbnails-title{
  display: block;
  text-align: center;
  background-color: black;
  height: var(--thumbnails-title-height);
  
}
@media (min-width: 560px) 
{
  body
{
  --thumbnails-image-width: 20vw;
  --thumbnails-image-height: 12vw;
  --thumbnails-title-height: calc(var(--thumbnails-image-height)*0.2);
  --details-image-width: 60vw;
  --details-image-height: 35vw;
}
  .main-class
  {
    flex-direction: row;
    justify-content: space-around;
  }
  .logo{
    font-size: 1.55em
  }
  h2
  {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  body
  {
    background: url(../images/cars/Wallpaper_gorizont.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .details-container {
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
}
  .thumbnails-list
  {
    order: -1;
    flex-direction: column;
    flex-wrap: nowrap;
    max-height: 70vh;
    justify-content: flex-start;
    padding-right: 35px;
    
  }
  .hidden .thumbnails-list
  {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-height: 70vh;
  }
  .thumbnails-item
  {
   
    margin-top: 7px;
    margin-bottom: 7px;
  }
  

  
}
@media (min-width: 1000px) 
{
  body{
    --thumbnails-title-height: calc(var(--thumbnails-image-height)*0.1);
  }
  .logo{
    font-size: 2.85em;
  }
    .thumbnails-item
  {
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 0 5px grey;
  }
  .details-image
  {
    width: 60vw;
    height: 35vw;
  }
  .details-container
  {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
  }
 
  .thumbnails-list {
       
    margin-top: 2.5vh;
    max-height: 70vh;
}
.details-title{
  display: block;
  background: none;
  font-family: hussar;
  position: absolute;
  bottom: 2vh;
  left: 25%;
}
}