html{
    height: 100%;
}

body{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    background: url(https://media.istockphoto.com/id/1306675949/photo/chess.jpg?b=1&s=170667a&w=0&k=20&c=cO2Z8QZyqwidcA_-o1EhI09vmWD0EW_sfn_MNpGIDX0=);
    background-repeat: no-repeat;
    background-size: cover;
    
}

img {
    height: 100%;
}

.board{
    display: flex;
    flex-direction: column;
    border-style: outset;
}

.board-raw{
    display: flex;
    flex-direction: raw;
}

.cell {
    text-align: center;
    width: 4.5vw;
    height: 4.5vw;
    
}

.cell-black{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR1yTsB1X0xP2Qq9-qlNKgKAauLNImC5rgLfQ&usqp=CAU);
    background-repeat: no-repeat;
    background-size: cover;
    
}

.cell-white{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSh3nqTnGRVDxi-rwPFlMWfOSzKeP147ask9Q&usqp=CAU);
    background-repeat: no-repeat;
    background-size: cover;
}
.cell-raw{
    text-align: center;
    width: 4.5vw;
    height: 2vw;
    justify-content: center;
    align-items: center;
    display: flex;
    
    background-color: #8C4112;
    
}
.cell-column{
    text-align: center;
    width: 2vw;
    height: 4.5vw;
    justify-content: center;
    align-items: center;
    display: flex;
    
    background-color: #8C4112;
}
.cell-small{
    width: 2vw;
    height: 2vw;
    
    background-color: #8C4112
    ;
}
